---
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    <div class="wrapper">

        <!-- Header -->

        <header class="page-header">

            <img src="images/avatar.jpg" alt="Avatar" class="avatar">

            <h1 class="header-name">{{ site.data.resume.personal.name }}</h1>

            <div class="title-bar">
                {% include links.html %}
            </div>

            <div class="executive-summary">
                {{ site.data.resume.summary }}
            </div>

        </header>

        <!-- Work Experience -->

        <section class="content-section">

            <header class="section-header">
                <h2>Work Experience</h2>
            </header>

            {% for item in site.data.resume.experience %}
            <div class="resume-item">
                <h3 class="resume-item-title">{{ item.position }}</h3>
                <h4 class="resume-item-subtitle">{{ item.company }} &bull; {{ item.location }} &bull; {{ item.date }} </h4>
                <p class="resume-item-summary">{{ item.summary }}</p>
            </div>
            {% endfor %}

        </section>

        <!-- Teaching Experience -->

        <section class="content-section">

            <header class="section-header">
                <h2>Teaching Experience</h2>
            </header>

            {% for item in site.data.resume.teaching %}
            <div class="resume-item">
                <h3 class="resume-item-title">{{ item.position }}</h3>
                <h4 class="resume-item-subtitle">{{ item.company }} &bull; {{ item.location }} &bull; {{ item.date }} </h4>
                <h4 class="resume-item-subtitle">{{ item.title }} </h4>
                <p class="resume-item-summary">{{ item.summary }}</p>
            </div>
            {% endfor %}

        </section>

        <!-- Education -->

        <section class="content-section">

            <header class="section-header">
                <h2>Education</h2>
            </header>

            {% for item in site.data.resume.education %}
            <div class="resume-item">
                <h3 class="resume-item-title">{{ item.degree }}</h3>
                <h4 class="resume-item-subtitle">{{ item.uni }} &bull; {{ item.field }} &bull; {{ item.date }}</h4>
            </div>
            {% endfor %}

        </section>

    </div>

</body>

</html>