---
---

<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">
        <meta itemprop="telephone" content="{{ site.resume_contact_telephone }}" />
        <meta itemprop="address" content="{{ site.resume_contact_address }}" />

        <header class="page-header">

            <img src="images/avatar.jpg" alt="Avatar" class="avatar no-print" itemprop="image">

            <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>

            <div class="header-contact-info print-only">
                <p>{{ site.resume_header_contact_info }}</p>
            </div>

            <div class="title-bar no-print">
                {% include icon-links.html %}
            </div>

            <div class="executive-summary no-print" itemprop="description">
                {{ site.resume_header_intro }}
            </div>

        </header>

        <!-- Work Experience -->

        <section class="content-section">

            <header class="section-header">
                <h2>Work Experience</h2>
            </header>

            {% for item in site.data.cv.experience %}
            <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
                <h3 class="resume-item-title" itemprop="name">{{ item.position }}</h3>
                <h4 class="resume-item-date" itemprop="description">{{ item.company }} &bull; {{ item.location }} &bull; {{ item.date }} </h4>
                <p class="resume-item-copy">{{ item.summary }}</p>
            </div>
            {% endfor %}

        </section>

        <!-- Teaching Experience -->

        <section class="content-section">

            <header class="section-header">
                <h2>Teaching Experience</h2>
            </header>

            {% for item in site.data.cv.teaching %}
            <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
                <h3 class="resume-item-title" itemprop="name">{{ item.position }}</h3>
                <h4 class="resume-item-date" itemprop="description">{{ item.company }} &bull; {{ item.location }} &bull; {{ item.date }} </h4>
                <p class="resume-item-copy">{{ item.summary }}</p>
            </div>
            {% endfor %}

        </section>

        <!-- Education -->

        <section class="content-section">

            <header class="section-header">
                <h2>Education</h2>
            </header>

            {% for item in site.data.cv.education %}
            <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
                <h3 class="resume-item-title" itemprop="name">{{ item.degree }}</h3>
                <h4 class="resume-item-date group" itemprop="description">{{ item.uni }} &bull; {{ item.field }} &bull; {{ item.date }}</h4>
            </div>
            {% endfor %}

        </section>

        <!-- Skills -->
        <!--
        <section class="content-section">

            <header class="section-header">
                <h2>Skills</h2>
            </header>

            {% for item in site.data.cv.skills %}
            <div class="resume-item">
                <h4 class="resume-item-details">{{ item.skill }}</h4>
                <p class="resume-item-copy">{{ item.description }}</p>
            </div>
            {% endfor %}
            
        </section>
        -->

        <!-- Print Social Links -->

        <section class="content-section print-only">

            <header class="section-header">
                <h2>Social Links</h2>
            </header>

            <div class="resume-item">
                {% include print-social-links.html %}
            </div>

        </section>

    </div>

</body>

</html>