{% if site.resume_social_links %}
<ul class="icon-links">

  <!-- GitHub -->

  {% if site.resume_social_links.resume_github_url %}
  <li class="icon-link-item">
    <a href="{{ site.resume_social_links.resume_github_url }}" class="icon-link" itemprop="sameAs">{% include icons/icon-github.html %}</a>
  </li>
  {% endif %}

  <!-- Facebook -->

  {% if site.resume_social_links.resume_facebook_url %}
  <li class="icon-link-item">
    <a href="{{ site.resume_social_links.resume_facebook_url }}" class="icon-link" itemprop="sameAs">{% include icons/icon-facebook.html %}</a>
  </li>
  {% endif %}

  <!-- LinkedIn -->

  {% if site.resume_social_links.resume_linkedin_url %}
  <li class="icon-link-item">
    <a href="{{ site.resume_social_links.resume_linkedin_url }}" class="icon-link" itemprop="sameAs">{% include icons/icon-linkedin.html %}</a>
  </li>
  {% endif %}

</ul>
{% endif %}