// Variables
// ---------------------------------------/

$container-width: 980px !default;
$grid-gutter:     10px !default;

// Colors
$white:             #fff;
$black:             #333;

// Styles
$text_color:        $black;